.section-posts  {
    width: 70%;
    height: 100vh;
    overflow-y: auto;
    margin: auto;
    padding: 80px 10px 10px 10px;
}


.title-posts {
    text-align: center;
    color: #fff; 
    padding: 10px 10px 20px 10px;
}

.container-posts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.title-prox {
    text-align: center;
    font-weight: 500;
    padding: 10px;
    color: #fff;
}


@media (max-width: 768px) {
    .section-posts {
        width: 100%;
    }
}