.container-courses {
  width: 100%;
  height: auto;
  padding-top: 70px;
  color: #fff;
}

.title-courses {
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.all-courses {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 14px;
}
