.card-route-curso {
  width: 100%;
  height: 200px;
  background-color: #16181d;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid  #aaa;

}

.details-course {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-curso {
  font-size: 18px;
}

.text-curso {
  color: #929292;
  overflow-y: hidden;
}
.links-curso {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.link-curso {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
    transition: .5s;
    height: 20px;
}
.link-curso:hover {
    transition: .5s;
    color: #0dbbdd;
}
