* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #444;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #666;
  }
}

.wrapper-app {
  background-color: #040303;
}
