.post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #989898;
}
.post-header-title {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.title-post {
    color: #fff;
}

.date-post {
    color: #989898;
}

.link-post {
    color: #1963ed;
    border-bottom: 1px solid transparent;
  font-weight: 500;   
  text-decoration: none;

}

.link-post:hover {
    color: #2b70f0;
    border-color: #2b70f0; 
}

@media (max-width: 425px) {
    .post {
        flex-direction: column;
    }
    
  }
  