.container-cards {
  width: 70%;
  z-index: 99;
}
.title-container {
  text-align: start;
  padding: 14px;
  color: #fff;
}

.list-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 12px;
}

.link-more {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  width: 100%;
}

.link-more:hover {
  color: #7899ff;
}
