---
import "../styles/card-package.css";
interface Props {
    item: {title: string, text: string,link: string}
}
const {item} = Astro.props
const {title, text, link} = item; 
---

    <div class="card-route-paquete" >
      <h2 class="title-paquete">{title}</h2>
      <p class="text-paquete">{text}</p>
      <a href={link} target="_BLANK" class="link-paquete">Ver más</a>
    </div>
