---
import iconInstagram from "../assets/icons/icon-instagram.png";
import iconLinkedin from "../assets/icons/icon-linkedin.png";
import "../styles/footer.css"; 
---

    <footer class="footer">
      <p class="title-footer">©2024 Bytes, All rights reserved</p>
      <div class="list-apps">
        <a href="https://www.instagram.com/dariomartinezgod/" target="_BLANK" rel="noreferrer" class="link-app-footer">
          <img src={iconInstagram.src} alt="icon instagram" width={40} height={40} loading="lazy" />
        </a>

        <a href="https://www.linkedin.com/in/dariomvg" target="_BLANK" rel="noreferrer" class="link-app-footer">
          <img src={iconLinkedin.src} alt="icon linkedin" width={40} height={40} loading="lazy" />
        </a>
      </div>
    </footer>

