---
import iconGithub from "../assets/icons/github.svg";
import iconLinkedin from "../assets/icons/linkedin.svg";
import "../styles/footer.css"; 
---

<footer class="footer">
    <p class="title-footer">© 2024 Bytes, All rights reserved</p>
    <div class="list-apps">
      <a href="https://github.com/dariomvg" target="_BLANK" rel="noreferrer noopener" class="link-app-footer">
          <img src={iconGithub.src} alt="icon github" width={30} height={30} loading="lazy" />
      </a>

      <a href="https://www.linkedin.com/in/dariomvg" target="_BLANK" rel="noreferrer noopener" class="link-app-footer">
          <img src={iconLinkedin.src} alt="icon linkedin" width={30} height={30} loading="lazy" />
      </a>
  </div>
</footer>

