---
import imgMenu from "../assets/icons/menu.svg";
import { Image } from 'astro:assets';
import "../styles/header.css";
---

    <header id="header" class="header ">
      <div class="navbar-logo">
        <Image
          src="/logo.svg"
          alt="logo this page"
          width="32"
          height="32"
          class="navbar-icon-logo"
          loading="lazy"
        />
        <a href="/" class="logo">
          Bytes
        </a>
      </div>
      <img
        src={imgMenu.src}
        alt="imagen de menu"
        class="img-menu"
        width={40}
        height={40}
        loading="lazy"
        id="menu"
      />
      <nav class="navbar">
        <a href="/contenido" class="nav-link" >
          Contenido
        </a>
        <a href="/sobre-mi" class="nav-link" >
          Sobre mí
        </a>
        <a href="/temas" class="nav-link" >
          Temas
        </a>
        <a href="/cursos" class="nav-link" >
          Cursos
        </a>
        <a href="/posts" class="nav-link" >
          Posts
        </a>
      </nav>
    </header>

<script src="../libs/openMenu.js" />