---
import "../styles/post.css";
interface Props {
    post: {title: string, date: string, url_redirect: string}
}
const { post } = Astro.props
const {title, date, url_redirect} = post
---


    <div class="post">
      <div class="post-header-title">
        <h2 class="title-post">{title}</h2>
        <p class="date-post">{date}</p>
      </div>
      <a href={url_redirect} class="link-post">
        Visitar
      </a>
    </div>
