---

import "../styles/section-cards-main.css";
interface Props {
    title: string
}
const {title} = Astro.props 
---

    <section class="container-cards">
      <h2 class="title-container">{title}</h2>
      <div class="list-cards">
        <slot />
      </div>
    </section>
