---
import iconInstagram from "../../../assets/icons/icon-instagram.png";
import iconLinkedin from "../../../assets/icons/icon-linkedin.png";
import ContentLayout from "../../../layouts/ContentLayout.astro";
import "@styles/content/networks.css";
---

<ContentLayout title="Contenido | Redes" description="Redes personales">
   <section class="section-routes-contacts">
      <strong class="title-redes">Redes</strong>
      <div class="list-apps">
        <a
          href="https://www.instagram.com/dariomartinezgod/"
          target="_BLANK"
        rel="noreferrer"
          class="link-app-contact">
          <img
            src={iconInstagram.src}
            alt="icon instagram"
            width={50}
            height={50}
            loading="eager"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/dariomvg"
          target="_BLANK"
          rel="noreferrer"
          class="link-app-contact">
          <img
            src={iconLinkedin.src}
            alt="icon linkedin"
            width={50}
            height={50}
            loading="eager"
          />
        </a>
      </div>

      <a
        href="https://dario-martinez.vercel.app/"
        target="_BLANK"
        rel="noreferrer"
        class="link-portfolio-contact">
        Portfolio
      </a>
    </section>

</ContentLayout>
   
