---
import CardRouteArticles from "../../../components/CardRouteArticles.astro"
import { articulos } from "../../../utils/data-articles"
import ContentLayout from "../../../layouts/ContentLayout.astro";
import "@styles/content/articles.css"
---

<ContentLayout title="Contenido | Artículos" description="Lista de artículos" keyboards="contenido, artículos, tecnología">
      <section class="section-routes-articles">
        {articulos && articulos.map((item) => <CardRouteArticles  item={item} />)}
    </section>
</ContentLayout>

