---
import GlobalLayout from "../../layouts/GlobalLayout.astro"
---
<GlobalLayout>
    <div style={"color: #fff, padding-top: 60px"}>
      <p>Esta página no recopila ningun tipo de dato, ni uso de cookies</p>
      <a href="/">Puedes seguir navegando por la página</a>
    </div>
</GlobalLayout>