---
import GlobalLayout from "../../layouts/GlobalLayout.astro"
import "./privacidad.css"
---
<GlobalLayout title="privacidad" description="politica-de-privacidad">
    <div class="page-privacy">
      <p class="title-privacy">Esta página no recopila ningun tipo de dato, ni uso de cookies</p>
      <a href="/" class="link-privacy">Puedes seguir navegando por la página</a>
    </div>
</GlobalLayout>