.section-routes-courses {
    width: 100%;
    padding: 80px 10px 10px 10px;
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }
  
  @media (max-width: 795px) {
    .section-routes-courses {
      padding-top: 16px;
    }
  }