

.section-routes-packages {
  padding: 80px 10px 10px 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 14px;
}

@media (max-width: 795px) {
  .section-routes-packages {
    padding-top: 16px;
  }
}
