---
import Header from "../components/Header.astro";
import "../styles/view-post.css";
import GlobalLayout from "./GlobalLayout.astro";

interface Props {
    frontmatter: {
        title: string; 
        description: string; 
    }
}
const {title, description} = Astro.props.frontmatter
---

<GlobalLayout title={title} description={description}>
    <Header />
    <section class="container-post">
        <slot />
    </section>
</GlobalLayout>