---
import "../styles/view-post.css";
import GlobalLayout from "./GlobalLayout.astro";

interface Props {
        title: string; 
        description: string; 
        keyboards: string
    
}
const {title, description, keyboards} = Astro.props
---

<GlobalLayout title={title} description={description} keyboards={keyboards}>
    <section class="container-post">
        <slot />
    </section>
</GlobalLayout>