---
import MenuContent from "../components/MenuContent.astro";
import "../styles/globals-content.css";
import GlobalLayout from "./GlobalLayout.astro";
interface Props {
  title: string; 
  description: string; 
}
const {title, description} = Astro.props
---

<GlobalLayout title={title} description={description} keyboards="articulos, cursos, paquetes, temas ">
        <section class="wrapper-content">
        <MenuContent />
        <section class="nav-routes"><slot /></section>
      </section>
</GlobalLayout>


