--- 
import Header from "../components/Header.astro";
import "../styles/globals.css";
import '@fontsource/montserrat';
import '@fontsource/roboto/900.css'; 
const {title, description} = Astro.props
---

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/logo.svg" type="image/x-icon">
        <meta name="keywords" content="'Desarrollo web', 'React', 'JavaScript', 'Programación', 'Artículos'">
        <meta name="description" content={description}>
        <title>{title}</title>
      </head>
      <body class="wrapper-app">
        <Header />
        <slot />
      </body>
</html>


