---
import { temas } from "../../../utils/data-topics";
import  CardRouteTemas from "../../../components/CardRouteTemas.astro";
import ContentLayout from "../../../layouts/ContentLayout.astro";
import "@styles/content/topics.css";
---

<ContentLayout title="Contenido | Temas" description="Lista de temas" keyboards="contenido, temas, tecnología, debates">
      <section class="section-routes-topics">
      {temas &&
        temas.map((item) => <CardRouteTemas item={item} />)}
    </section>
</ContentLayout>
