---
import CardRouteCurso  from "../../../components/CardRouteCurso.astro";
import { cursos } from "../../../utils/data-courses";
import ContentLayout from "../../../layouts/ContentLayout.astro";
import "@styles/content/courses.css";
---
<ContentLayout title="Contenido | Cursos" description="Lista de cursos" keyboards="contenido, cursos, tecnología">
      <section class="section-routes-courses">
      {cursos.map((item) => <CardRouteCurso item={item} />)}
    </section>
</ContentLayout>

